/**
 * CSS Custom Properties
 *
 * These properties can be overridden using the component's tag as selector.
 *
 * @prop --calcite-carousel-height: the maximum height of the tip-manager
 * @prop --calcite-carousel-item-max-width: the maximum width of a slotted tip within tip-manager
 */

:host {
  @apply bg-foreground-1
  text-color-2
  text-n1h
  box-border
  block;

  * {
    @apply box-border;
  }

  --calcite-carousel-height: 19vh;
}

:host([closed]) {
  @apply hidden;
}

@import "../../assets/styles/header";

.header {
  @apply border-color-3
    border-0
    border-b
    border-solid
    py-0;

  padding-inline-end: theme("padding.0");
  padding-inline-start: theme("padding.4");

  .heading {
    @apply text-color-1
      text-1h
      p-0
      font-bold;
  }
}
.active-icon {
  --calcite-ui-icon-color: theme("backgroundColor.brand");
}
.container {
  @apply focus-base
    relative
    flex
    overflow-hidden;
  flex-direction: column;
  min-block-size: 150px;
  &.top {
    flex-direction: column-reverse;
  }
  &.start {
    flex-direction: row-reverse;
  }
  &.end {
    flex-direction: row;
  }
  &.start .pagination,
  &.end .pagination {
    flex-direction: column;
  }

  &:focus {
    @apply focus-outset;
  }
}

.tip-container {
  @apply focus-base
    mt-px
    flex
    items-start
    justify-center
    overflow-auto
    p-4;
  animation-name: none;
  animation-duration: var(--calcite-animation-timing);

  &:focus {
    @apply focus-inset;
  }
}

::slotted(calcite-carousel-item) {
  @apply border-none p-3;
  max-inline-size: var(--calcite-carousel-item-max-width);
}

.tip-container--advancing {
  animation-name: tip-advance;
}

.tip-container--retreating {
  animation-name: tip-retreat;
}

/* Pagination Styles*/
.pagination {
  @apply flex
  items-center
  justify-center
  p-3;
  &.is-overlay {
    // absolute
    position: absolute;
    inline-size: 100%;
  }
  &.is-bar {
    gap: 4px;
  }
}

.is-bar .pagination-item {
  display: flex;
  inline-size: 24px;
  block-size: 24px;
  background-color: lightblue;
  &.active-icon {
    background-color: blue;
  }
}
.page-position {
  @apply text-n2h my-0 mx-2;
}

/* @keyframes*/
@keyframes tip-advance {
  0% {
    @apply opacity-0;
    transform: translate3d(50px, 0, 0) scale(0.99);
  }
  100% {
    @apply opacity-100;
    transform: translate3d(0, 0, 0) scale(1);
  }
}
@keyframes tip-retreat {
  0% {
    @apply opacity-0;
    transform: translate3d(-50px, 0, 0) scale(0.99);
  }
  100% {
    @apply opacity-100;
    transform: translate3d(0, 0, 0) scale(1);
  }
}
