/**
 * CSS Custom Properties
 *
 * These properties can be overridden using the component's tag as selector.
 *
 * @prop --calcite-carousel-height: the maximum height of the tip-manager
 * @prop --calcite-carousel-item-max-width: the maximum width of a slotted tip within tip-manager
 */

.container {
  @apply text-color-2
  text-n1h
  w-full
  block
  relative;

  * {
    @apply box-border;
  }

  --calcite-carousel-height: 19vh;
}

:host([closed]) {
  .container {
    @apply hidden;
  }
}

@import "../../assets/styles/header";

.header {
  @apply border-color-3
    border-0
    border-b
    border-solid
    py-0;

  padding-inline-end: theme("padding.0");
  padding-inline-start: theme("padding.4");
}

.container {
  @apply focus-base
    relative
    flex
    overflow-hidden;
  flex-direction: column;
  &.top {
    flex-direction: column-reverse;
  }

  &:focus {
    @apply focus-outset;
  }
}

.tip-container {
  @apply focus-base
    flex
    items-start
    justify-center
    overflow-auto
    flex-auto;
  animation-name: none;
  animation-duration: var(--calcite-animation-timing);
  gap: 1rem;
  &:focus {
    @apply focus-inset;
  }
}

.tip-container--advancing {
  animation-name: tip-advance;
}

.tip-container--retreating {
  animation-name: tip-retreat;
}

calcite-carousel-item:not([selected]) {
  opacity: 0.5;
}
/* Pagination Styles*/
.pagination {
  @apply flex
  items-center
  justify-center
  p-3;
  inline-size: auto;
  &.is-overlay {
    position: absolute;
  }
}

.top .pagination.is-overlay {
  inset-block-end: unset;
  inset-block-start: 0;
  inset-inline: 0;
}

.bottom .pagination.is-overlay {
  inset-block-start: unset;
  inset-block-end: 0;
  inset-inline: 0;
}

.pagination-item {
  --calcite-ui-icon-color: var(--calcite-ui-border-input);
}

.active-icon {
  --calcite-ui-icon-color: var(--calcite-ui-brand);
}

/* @keyframes*/
@keyframes tip-advance {
  0% {
    transform: translate3d(50px, 0, 0) scale(0.99);
  }
  100% {
    transform: translate3d(0, 0, 0) scale(1);
  }
}
@keyframes tip-retreat {
  0% {
    transform: translate3d(-50px, 0, 0) scale(0.99);
  }
  100% {
    transform: translate3d(0, 0, 0) scale(1);
  }
}
